.review {
  width: 300px;
  height: 410px;
  margin: 0;
  background-color: #f9f7f2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px 23px 11px 19px;
}

.review__author {
  display: flex;
  align-items: center;
}

.review__avatar {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.review__title {
  font-family: "KievitPro Regular";
  font-family: 13px;
  margin: 28px 0 12px;
}

.review__title-beginning {
  font-family: "KievitPro Medium";
  font-family: 13px;
  margin: 28px 0 12px;
  color: #fc4f1e;
}

.review__text {
  font-family: "Roboto Regular";
  width: 240px;
  font-size: 15px;
  margin: 0;
  line-height: 25px;
}

.review__images {
  margin: 8px 0 26px;
  width: 165px;
  height: 50px;
  display: flex;
}

.review__inf {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review__date,
.review__comments,
.review__likes {
  font-size: 11px;
  color: #9d9d9d;
  font-family: "Roboto Regular";
}

.review__like-image {
  margin-right: 4px;
}

.review__likes {
  display: flex;
  align-items: center;
}

.review__image {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  cursor: pointer;
}

.review__image_opacity {
  opacity: 0.4;
  margin-right: 0;
}

.review__image-more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}

.review__image-counter {
  position: absolute;
  color: #ffffff;
  font-family: "Roboto Medium";
  font-size: 17px;
}
