.chat {
  width: 50%;
  height: 698px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 23px;
}

.chat_margin-left {
  margin-right: 0;
  margin-left: 23px;
}

.chat__title {
  margin: 0;
  font-family: "KievitPro Bold";
  font-size: 29px;
  margin-bottom: 25px;
}

.chat__container {
  width: 415px;
  height: 698px;
  background-color: #ffffff;
}

.chat__header {
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px;
  border-bottom: 1px solid #ececec;
}

.chat__person {
  display: flex;
  align-items: center;
}

.chat__avatar-image {
  width: 44px;
  height: 44px;
  margin-right: 19px;
}

.chat__person-inf {
  display: flex;
  flex-direction: column;
}

.chat__person-name {
  font-family: "KievitPro Bold";
  font-size: 18px;
}

.chat__person-description {
  font-family: "KievitPro Regular";
  font-size: 13px;
  color: #ff4641;
}

.chat__flag-image {
  margin-right: 4px;
}

.chat__messages {
  height: 496px;
  padding: 14px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ff4641;
}

.chat__form {
  height: 103px;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 19px 28px 26px;
}

.chat__input-container {
  display: flex;
  align-items: center;
}

.chat__input {
  line-height: 24px;
  width: 270px;
  padding: 12px 24px;
  border: 1px solid #ececec;
}

.chat__input::placeholder {
  color: #a3a2a2;
}

.chat__button-submit {
  background: url("../../assets/images/Send.svg");
  width: 22px;
  height: 22px;
  border: none;
  background-color: none;
  cursor: pointer;
}
