.reviews {
  width: 879px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 35px 31px;
  margin-bottom: 50px;
}

.reviews__title {
  font-family: "KievitPro Bold";
  font-size: 29px;
  margin: 0;
  margin-bottom: 21px;
}

.reviews__slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 300px;
  margin-bottom: 32px;
  width: 100%;
  position: relative;
}

.swiper {
  width: 100%;
  margin: 0 auto;
  position: static;
}

.swiper-wrapper {
  width: 300px;
}

.swiper-slide {
  width: 300px;
}

.swiper-pagination {
  right: 0;
  left: auto !important;
  bottom: -60px !important;
  width: 96px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  background: #212121;
  width: 4px;
  height: 4px;
  opacity: 1;
  margin-right: 12px !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
  background: #ff4641;
  width: 8px;
  height: 8px;
}

.reviews__button-all {
  width: 124px;
  height: 40px;
  border-radius: 2px;
  border: 2px solid #ff4641;
  text-decoration: none;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "KievitPro Medium";
}

.reviews__button-all:visited {
  color: #000000;
}
