.about {
  background-color: #ffffff;
  width: 879px;
  margin-bottom: 20px;
}

.about_flex {
  display: flex;
  align-items: center;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.about__title {
  font-family: "KievitPro Bold";
  font-size: 29px;
  margin: 0;
  padding: 0;
}

.about__text {
  font-family: "KievitPro Light";
  margin: 19px 0 6px;
  font-size: 17px;
  line-height: 25px;
  width: 363px;
}

.about__button-more {
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
  font-size: 17px;
  border-bottom: 3px solid #ff4641;
  cursor: pointer;
}
